.banner {
  padding: 3rem 7.5rem 6.25rem;
  background-color: var(--azul-escuro);
  color: var(--branco);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-family: var(--fonte-secundaria);
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.images {
  position: relative;
  height: 406px;
}

.images > .myPicture {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18vw;
  border-radius: 50%;
}

.images > .colorfulCircle {
  position: absolute;
  right: 7vw;
  bottom: 2.2vw;
  width: 25vw;
}

@media (max-width: 1100px) {    
  .banner {
      padding: 3.5rem 1.5rem;
  }

  .title {
      margin-top: 0;
      margin-bottom: 1.5rem;
  }

  .paragraph {
      margin-bottom: 1.5rem;
  }

  .images {
      height: 338px;
  }
 
  .images > .myPicture {
      width: 25vw;
  }
 
  .images > .colorfulCircle {
      right: 10vw;
      width: 35vw;
  }
}

@media (max-width: 744px) {
  .banner {
      padding: 2rem 1rem;
      display: block;
  }

  .title {
      margin-bottom: 2rem;
  }

  .paragraph {
      margin-bottom: 2rem;
  }

  .images {
      height: 307px;
  }

  .images > .myPicture, .images > .colorfulCircle {
      left: 0;
      right: 0;
      margin: 0 auto;
  }
 
  .images > .myPicture {
      width: 170px;
      transform: translate(5rem, 0px);
  }
 
  .images > .colorfulCircle {
      width: 240px;
      transform: translate(-1.5rem, 0px);
  }
}

@media (min-width: 1440px) {
  .banner {
    padding: 4rem 10rem 7.5rem;
  }

  .title {
    font-size: 4.5rem;
    margin-top: 5.5rem;
    margin-bottom: 2.5rem;
  }

  .paragraph {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin-bottom: 2.5rem;
  }

  .images {
    height: 450px;
  }

  .images > .myPicture {
    width: 16vw;
  }

  .images > .colorfulCircle {
    right: 6vw;
    bottom: 1.5vw;
    width: 23vw;
  }
}
